* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.4rem;
  font-family: sans-serif;
  font-weight: 500;
  background-color: #212529;
  color: #f1f3f5;
}

.app {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1rem solid #495057;

  position: relative;
}

.menu select {
  border: none;
  background-color: #495057;
  color: inherit;
}

.default-list-title {
  margin-top: 9rem;
  text-align: center;
  color: #495057;
  font-size: 3rem;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  padding: 1rem;
}

.list li {
  list-style: none;
}

.note {
  padding: 6px;
  background-color: #343a40;
  border-radius: 1rem;
}

.note-header {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.note-btn-edit {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  text-align: center;
  font-size: 1rem;
  margin-right: 7px;
  border: none;
  background-color: #343a40;
  color: #f1f3f5;
  cursor: pointer;
}

.note-btn-edit:hover {
  background-color: #212529;
}

.note h3 {
  font-size: 2rem;
}

.note .note-time {
  padding: 2px;
  font-size: 1rem;
  color: grey;
}

.note p {
  font-size: 1.7rem;
  padding: 7px;
}

.btn-add-note {
  position: absolute;
  right: 7rem;
  bottom: 7rem;

  height: 7rem;
  width: 7rem;
  background-color: #495057;

  font-size: 2rem;
  cursor: pointer;
  border: none;
  border-radius: 50%;
}

.active {
  color: #f03e3e;
}

.btn-add-note:hover {
  background-color: #868e96;
}

.add-note {
  background-color: #495057;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 1.2rem;
}

.add-note input {
  width: 30rem;
  background-color: #868e96;
  border: none;
  font-size: 1.6rem;
  color: inherit;
  padding: 4px;
  margin-bottom: 4px;
}

.add-note textarea {
  display: block;
  width: 30rem;
  background-color: #868e96;
  border: none;
  font-size: 1.6rem;
  color: inherit;
  padding: 4px;
  resize: none;
  margin-bottom: 8px;
  font-style: inherit;
}

.add-note button {
  border: none;
  width: 7rem;
  height: 2.3rem;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  border: 1px solid #868e96;
  border-radius: 1rem;
}

.add-note button:hover {
  background-color: #868e96;
  border: 1px solid #f03e3e;
}
